<section>
    <h1 class="header-contacts">
        Fresh Harvest Box has got you covered
    </h1>
    <div>   
        <div class="container-contacts-images">
            <ul>
                <li>img1</li> 
                <li>img2</li>
            </ul>
        </div>
        <p  class="paragraph-contacts">
            Our boxes are packed with delicious, nutritious fruits and vegetables, perfect for anyone looking to eat healthier or support local farmers. Order your box today and start enjoying the best that nature has to offer!
        </p>
        <form>
            <input></input>
            <button></button>
        </form>
    </div>
</section>