<footer>
    <div class="footer-container">
        <div class="left-navi-footer">
            <picture class="footer-picture">
                <source
                media="(max-width: 767px)"
                srcset="
                ./img/variants/foot-banana-lady-m1x.jpg   1x,
                ./img/variants/foot-banana-lady-m2x.jpg   2x,
                "
                />
                <source
                media="(min-width: 768px)"
                srcset="
                ./img/variants/foot-banana-lady-dt1x.jpg   1x,
                ./img/variants/foot-banana-lady-dt2x.jpg   2x,
                "
                />
                <img class="image" 
                src="./img/variants/foot-banana-lady-m1x.jpg" 
                alt="lady with bananas">
            </picture>
            <svg class="icon-logo" width="16" height="16">
                <use href="./img#favicon.svg"></use>
            </svg>
            <a class="fhb">fresh harvest box</a>
        </div>
        <div class="middle-navi-footer">
            <nav class="nav">
                <ul class="nav-list">
                  <li class="nav-item">
                    <a href="./how_it_works.html" class="nav-link">How It Works</a>
                  </li>
            
                  <li class="nav-item">
                    <a href="./fruits.html" class="nav-link">Frutis</a>
                  </li>
            
                  <li class="nav-item">
                    <a href="./contacts.html" class="nav-link">Contacts</a>
                  </li>
                </ul>
              </nav>
        </div>
        <div class="right-navi-footer">
            <div class="icons-navi-footer">
                <ul>
                    <li></li>
                </ul>
            </div>
            <tel></tel>
            <address></address>
        </div>
    </div>

</footer>