<section class="section-fruits">
  <h2 class="section-fruits-header">Organic Fruits</h2>
  <p class="section-fruits-text">
    Our organic fruits are hand-picked from local farms and delivered straight
    to your doorstep, ensuring that you get the freshest and most nutritious
    produce possible. We offer a wide selection of organic fruits grown without
    the use of harmful pesticides or chemicals.
  </p>

  <ul class="section-fruits-items">
    <li class="section-fruits-item item-strawberry">
      <h3 class="section-fruits-third-header">Strawberry</h3>
      <p class="section-fruits-paragraph">Plant</p>
      <img
        class="fruits-images"
        srcset="../img/card-straw-all1x.png 1x, ../img/card-straw-all2x.png 2x"
        src="../img/card-straw-all1x.png"
        alt="strawberry"
        width="295"
      />
      <div class="section-fruits-price">
        <p class="paragraph-price">100 UAH / kg</p>
      </div>
    </li>

    <li class="section-fruits-item item-banana">
      <h3 class="section-fruits-third-header">Banana</h3>
      <p class="section-fruits-paragraph">Plant</p>
      <img
        class="fruits-images"
        srcset="./img/card-banana-all1x.png 1x, ./img/card-banana-all2x.png 2x"
        src="./img/card-banana-all1x.png"
        alt="banana"
        width="295"
      />
      <div class="section-fruits-price">
        <p class="paragraph-price">80 UAH / kg</p>
      </div>
    </li>

    <li class="section-fruits-item item-watermelon">
      <h3 class="section-fruits-third-header">Watermelon</h3>
      <p class="section-fruits-paragraph">Plant</p>
      <img
        class="fruits-images"
        srcset="./img/card-waterm-all1x.png 1x, ./img/card-waterm-all2x.png 2x"
        src="./img/card-waterm-all1x.png"
        alt="watermelon"
        width="295"
      />
      <div class="section-fruits-price">
        <p class="paragraph-price">40 UAH / kg</p>
      </div>
    </li>

    <li class="section-fruits-item item-lime">
      <h3 class="section-fruits-third-header">Lime</h3>
      <p class="section-fruits-paragraph">Plant</p>
      <img
        class="fruits-images"
        srcset="./img/card-lime-all1x.png 1x, ./img/card-lime-all2x.png 2x"
        src="./img/card-lime-all1x.png"
        alt="lime"
        width="295"
      />
      <div class="section-fruits-price">
        <p class="paragraph-price">60 UAH / kg</p>
      </div>
    </li>

    <li class="section-fruits-item item-apple">
      <h3 class="section-fruits-third-header item-apple">Apple</h3>
      <p class="section-fruits-paragraph">Plant</p>
      <img
        class="fruits-images"
        srcset="./img/card-apple-all1x.png 1x, ./img/card-apple-all2x.png 2x"
        src="./img/card-apple-all1x.png"
        alt="apple"
        width="295"
      />
      <div class="section-fruits-price">
        <p class="paragraph-price">50 UAH / kg</p>
      </div>
    </li>

    <li class="section-fruits-item item-peach">
      <h3 class="section-fruits-third-header">Peach</h3>
      <p class="section-fruits-paragraph">Plant</p>
      <img
        class="fruits-images"
        srcset="./img/card-peach-all1x.png 1x, ./img/card-peach-all2x.png 2x"
        src="./img/card-peach-all1x.png"
        alt="peach"
        width="295"
      />
      <div class="section-fruits-price">
        <p class="paragraph-price">80 UAH / kg</p>
      </div>
    </li>

    <li class="section-fruits-item item-plum">
      <h3 class="section-fruits-third-header">Plums</h3>
      <p class="section-fruits-paragraph">Plant</p>
      <img
        class="fruits-images"
        srcset="./img/card-plum-all1x.png 1x, ./img/card-plum-all2x.png 2x"
        src="./img/card-plum-all1x.png"
        alt="plums"
        width="295"
      />
      <div class="section-fruits-price">
        <p class="paragraph-price">40 UAH / kg</p>
      </div>
    </li>

    <li class="section-fruits-item item-orange">
      <h3 class="section-fruits-third-header">Orange</h3>
      <p class="section-fruits-paragraph">Plant</p>
      <img
        class="fruits-images"
        srcset="./img/card-orange-all1x.png 1x, ./img/card-orange-all2x.png 2x"
        src="./img/card-orange-all1x.png"
        alt="orange"
        width="295"
      />
      <div class="section-fruits-price">
        <p class="paragraph-price">60 UAH / kg</p>
      </div>
    </li>

    <li class="section-fruits-item item-kiwi">
      <h3 class="section-fruits-third-header">Kiwi</h3>
      <p class="section-fruits-paragraph">Plant</p>
      <img
        class="fruits-images"
        srcset="./img/card-kiwi-all1x.png 1x, ./img/card-kiwi-all2x.png 2x"
        src="./img/card-kiwi-all1x.png"
        alt="kiwi"
        width="295"
      />
      <div class="section-fruits-price">
        <p class="paragraph-price">90 UAH / kg</p>
      </div>
    </li>
  </ul>
  <div class="button-container">
    <button type="button" class="fruits-button">
      <svg width="15" height="14" class="fruits-icon">
        <use href="./img/icons.svg#icon-arrow"></use>
      </svg>
      <span class="fruits-order">Order</span>
    </button>
  </div>
</section>
