<section class="section-fruits">
  <div class="section-fruits-container">
    <h2 class="section-fruits-header">Organic Fruits</h2>
    <p class="section-fruits-text">
      Our organic fruits are hand-picked from local farms and delivered straight
      to your doorstep, ensuring that you get the freshest and most nutritious
      produce possible. We offer a wide selection of organic fruits grown
      without the use of harmful pesticides or chemicals.
    </p>

    <ul class="section-fruits-items">
        <li class="section-fruits-item item-strawberry">
            
            <h3 class="section-fruits-third-header">Strawberry</h3>
            <p class="section-fruits-paragraph">Plant</p>
            <img
            srcset=""
            src=""
            alt="strawberry"
            width="295">
            <div class="section-fruits-price">
                <p class="paragraph-price">100 UAH / kg</p>
            </div>
        </li>

         <li class="section-fruits-item item-banana">
            
            <h3 class="section-fruits-third-header">Banana</h3>
            <p class="section-fruits-paragraph">Plant</p>
            <img
            srcset=""
            src=""
            alt="banana"
            width="295">
            <div class="section-fruits-price">
                <p class="paragraph-price">100 UAH / kg</p>
            </div>
        </li>

        <li class="section-fruits-item item-watermelon">
            
            <h3 class="section-fruits-third-header">Watermelon</h3>
            <p class="section-fruits-paragraph">Plant</p>
            <img
            srcset=""
            src=""
            alt="watermelon"
            width="295">
            <div class="section-fruits-price">
                <p class="paragraph-price">100 UAH / kg</p>
            </div>
        </li>
        


        <li class="section-fruits-item item-lime">
            
            <h3 class="section-fruits-third-header">Lime</h3>
            <p class="section-fruits-paragraph">Plant</p>
            <img
            srcset=""
            src=""
            alt="lime"
            width="295">
            <div class="section-fruits-price">
                <p class="paragraph-price">100 UAH / kg</p>
            </div>
        </li>

        <li class="section-fruits-item item-apple">
            
            <h3 class="section-fruits-third-header item-apple">Apple</h3>
            <p class="section-fruits-paragraph">Plant</p>
            <img
            srcset=""
            src=""
            alt="apple"
            width="295">
            <div class="section-fruits-price">
                <p class="paragraph-price">100 UAH / kg</p>
            </div>
        </li>

        <li class="section-fruits-item item-peach">
            
            <h3 class="section-fruits-third-header">Peach</h3>
            <p class="section-fruits-paragraph">Plant</p>
            <img
            srcset=""
            src=""
            alt="peach"
            width="295">
            <div class="section-fruits-price">
                <p class="paragraph-price">100 UAH / kg</p>
            </div>
        </li>

          <li class="section-fruits-item item-plum">
            
            <h3 class="section-fruits-third-header">Plums</h3>
            <p class="section-fruits-paragraph">Plant</p>
            <img
            srcset=""
            src=""
            alt="plums"
            width="295">
            <div class="section-fruits-price">
                <p class="paragraph-price">100 UAH / kg</p>
            </div>
        </li>

        <li class="section-fruits-item item-orange">
            
            <h3 class="section-fruits-third-header">Orange</h3>
            <p class="section-fruits-paragraph">Plant</p>
            <img
            srcset=""
            src=""
            alt="orange"
            width="295">
            <div class="section-fruits-price">
                <p class="paragraph-price">100 UAH / kg</p>
            </div>
        </li>

        <li class="section-fruits-item item-kiwi">
            
            <h3 class="section-fruits-third-header">Kiwi</h3>
            <p class="section-fruits-paragraph">Plant</p>
            <img
            srcset=""
            src=""
            alt="kiwi"
            width="295">
            <div class="section-fruits-price">
                <p class="paragraph-price">100 UAH / kg</p>
            </div>
        </li>

    </div>
 </ul>
 <button type="button" class="order-button">
    Order
    <svg width="" height="" class="order-icon">
        
    <use href=""> </use>

    </svg>
   </button>
  </div>
 </section>