<html>
  <head> </head>
  <body>
    <div class="info-content">
      <div class="info-header">
        <p class="info-text">
          TO ORDER YOUR FRUIT BASKET, SIMPLY FOLLOW THESE EASY STEPS
        </p>

        <p class="info-subtext">
          Our baskets are assembled with care and delivered straight to your
          doorstep, so you can enjoy the taste of fresh fruit without ever
          leaving your home. Whether you're looking for a healthy snack or a
          thoughtful gift, our fruit baskets are the perfect choice.
        </p>
      </div>

      <div class="info-steps">
        <div class="info-step">
          <div class="info-tag">
            <p>First step</p>
          </div>
          <p>
            Just choose the fruit you want to order by clicking on the
            checkboxes next to it.
          </p>
        </div>
        <div class="info-step">
          <div class="info-tag">
            <p>Second step</p>
          </div>
          <p>Click on the basket and fill out the form.</p>
        </div>
        <div class="info-step">
          <div class="info-tag">
            <p>Third step</p>
          </div>
          <p>Sit back and relax! Your fresh fruit basket will be delivered.</p>
        </div>
      </div>
    </div>
  </body>
</html>
