

.contacts{
    background-color: #AE1332;
}

.section-contacts-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    max-width: 100%;
}

.contacts-container {
    display: block;
}

.header-contacts {
    
}

.container-contacts-images {

}

.list-contacts {
    list-style-type: none;
}

.list-contacts-item {

}

.contacts-picture {

}

.img {
display: block;
}

.paragraph-contacts {
display: none;
}

.input-field {
display: none;
}

.send-button {
display: none;
}

.hidden-contacts-item {
    display: none;
}




@media (min-width: 768px){

    .hidden-contacts-item {
        display: block;
    }

}

@media (min-width: 1280px) {


}
