/*desktop*/

.header {
  padding-left: 32px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.nav-link {
  font-weight: 400;
  letter-spacing: -0.04em;
  text-align: center;
  color: #ae1332;
}
.icon-logo {
  display: flex;
  fill: #ae1332;
}
.cart-icon {
  fill: #ae1332;
  display: flex;
}
.fhb {
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  color: #ae1332;
  font-weight: 700;
}
.header-logo {
  display: flex;
  margin-left: -120px;
}
