/*desktop*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.nav-link {
  font-weight: 400;
  letter-spacing: -0.04em;
  text-align: center;
  color: #ae1332;
}
.icon-logo {
  display: flex;
  fill: #ae1332;
}
.cart-icon {
  fill: #ae1332;
  display: flex;
}
.fhb {
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  color: #ae1332;
  font-weight: 700;
}
.header-logo {
  display: flex;
  gap: 0.5rem;
}

@media screen and (min-width: 600px) {
  .icon-menu {
    display: none;
  }
  .nav {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .icon-menu {
    display: block;
  }
  .nav {
    display: none;
  }
}
