.header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.nav-link {
  font-weight: 400;
  letter-spacing: -0.04em;
  text-align: center;
  color: #ae1332;
}
.icon-logo {
  display: flex;
  fill: #ae1332;
}
.cart-icon {
  color: #ae1332;
  display: flex;
}
.fhb {
  line-height: 1.28571;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #ae1332;
}

/*
.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}
*/
