/* ----------------- v GENERAL v ----------------- */
:root {
    --wh: #fff;
    --bl: #000000;
    --main-wine: #ae1332;
    --social-hover: rgba(174, 19, 50, 0.1);
    --hero-yellow: #f5ce13;
    --hero-green: #a4cb66;
    --shop-text-hover: #a4cb66;
    --first-step: #ae1332;
    --second-step: #a1c864;
    --third-step: #f5ce13;
    --card-strawb: #f8766b;
    --card-banana: #edd251;
    --card-waterm: #9dc262;
    --card-lime: #bfd663;
    --card-apple: #e93f29;
    --card-peach: #db4f4b;
    --card-plum: #9b5366;
    --card-orange: #f47f4c;
    --card-kiwi: #98b37e;
    --btn-order: #9dc262;
    --btn-other: #9dc162; /* 'Send' & 'Submit' buttons; possibly should be #9DC262 aka '--green-order-btn' */
    --card-basket-s: #f8766b;
    --card-basket-a: #edd251;
    --card-basket-f: #9dc262;
    --modal-rapspb: #e03f5e;
    --transparent: rgba(0, 0, 0, 0);

    /* V   pasted in rush - delete in the case of crash */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: "DM Sans", sans-serif;
    color: var(--wh);
    background-color: var(--main-wine);
    letter-spacing: -0.04em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

/* 
                                                                  
                                 88           88  88              
                                 88           ""  88              
                                 88               88              
88,dPYba,,adPYba,    ,adPPYba,   88,dPPYba,   88  88   ,adPPYba,  
88P'   "88"    "8a  a8"     "8a  88P'    "8a  88  88  a8P_____88  
88      88      88  8b       d8  88       d8  88  88  8PP"""""""  
88      88      88  "8a,   ,a8"  88b,   ,a8"  88  88  "8b,   ,aa  
88      88      88   `"YbbdP"'   8Y"Ybbd8"'   88  88   `"Ybbd8"'
  
*/

h1 {
    /*  'Fresh Harvest Box has got you covered' */
    font-weight: 500;
    font-size: 32px;
    text-transform: uppercase;
    line-height: 100%;
}

h2,
.hero-h2,
.section-h2,
.modals-h2 {
    /*  hero, section titles, form title, THANK YOU on modal */
    font-weight: 500;
    font-size: 28px;
    text-transform: uppercase;
    line-height: 100%;
}

h3 {
    /*  fruit names in ORGANIC FRUITS section */
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
}

h4 {
    /*  basket names in form */
    font-weight: 700;
    font-size: 18px;
    line-height: 133%;
}

h5,
p,
.common-format,
.address-format {
    /* common p, form placeholders, Submit/Send buttons, nav/footer links, address */
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
}

.plant-card-format,
.plant-form-format {
    /* "Plant" in ORGANIC FRUITS section & form */
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
}

.price-format {
    /* ___ UAH / kg */
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
}

h6,
.hero-format {
    /* plaques & hashtags in hero section */
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 117%;
    /* font-weight 400/500 and uppercase to be applied separately in class */
}

.logo-format {
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    text-transform: uppercase;
    color: var(--main-wine);
}

.round-btn {
    width: 80px;
    height: 80px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
    transform: rotate(-14deg);
    border: none;
    border-radius: 50%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 375px;
    padding: 0 20px 80px;
    margin: 0 auto;
    /* nav & hero must overwrite padding = put their modified classes below */
}

/* ----------------- v TABLET RULES v ----------------- */

/*
                                                           
                     88           88                       
  ,d                 88           88                ,d     
  88                 88           88                88     
MM88MMM  ,adPPYYba,  88,dPPYba,   88   ,adPPYba,  MM88MMM  
  88     ""     `Y8  88P'    "8a  88  a8P_____88    88     
  88     ,adPPPPP88  88       d8  88  8PP"""""""    88     
  88,    88,    ,88  88b,   ,a8"  88  "8b,   ,aa    88,    
  "Y888  `"8bbdP"Y8  8Y"Ybbd8"'   88   `"Ybbd8"'    "Y888 
  
*/

@media (min-width: 768px) and (max-width: 1279px) {
    h1 {
        /*  'Fresh Harvest Box has got you covered' */
        font-size: 54px;
    }

    .hero-h2 {
        /*  hero title */
        font-size: 50px;
        line-height: 108%;
    }

    .section-h2,
    .modals-h2 {
        /* section titles, form title, THANK YOU on modal */
        font-size: 40px;
        line-height: 110%;
    }

    h3 {
        /*  fruit names in ORGANIC FRUITS section */
        font-size: 32px;
        line-height: 119%;
    }

    /* h4 (basket names in form) stays the same as mobile */

    /* h5, p, .common-format (form placeholders, Submit/Send buttons, nav/footer links) stay the same as mobile */

    .address-format {
        /* address in footer */
        font-size: 14px;
        line-height: 129%;
    }

    .plant-card-format {
        /* "Plant" in ORGANIC FRUITS section */
        font-size: 18px;
        line-height: 133%;
    }

    /* .plant-form-format ("Plant" in form) stays the same as mobile */

    .price-format {
        /* ___ UAH / kg */
        font-size: 18px;
        line-height: 133%;
    }

    /* h6, .hero-format (plaques & hashtags in hero section) stay the same as mobile; font-weight 400/500 and uppercase to be applied separately in class */

    /* .logo-format stays the same as mobile */

    .round-btn {
        width: 114px;
        height: 114px;
    }

    .container {
        display: flex;
        max-width: 768px;
        padding: 0 32px 144px;
        /* nav & hero must overwrite padding = put their modified classes below */
    }
}

/*
                                                                                
         88                         88                                          
         88                         88          ,d                              
         88                         88          88                              
 ,adPPYb,88   ,adPPYba,  ,adPPYba,  88   ,d8  MM88MMM  ,adPPYba,   8b,dPPYba,   
a8"    `Y88  a8P_____88  I8[    ""  88 ,a8"     88    a8"     "8a  88P'    "8a  
8b       88  8PP"""""""   `"Y8ba,   8888[       88    8b       d8  88       d8  
"8a,   ,d88  "8b,   ,aa  aa    ]8I  88`"Yba,    88,   "8a,   ,a8"  88b,   ,a8"  
 `"8bbdP"Y8   `"Ybbd8"'  `"YbbdP"'  88   `Y8a   "Y888  `"YbbdP"'   88`YbbdP"'   
                                                                   88           
                                                                   88   

*/

@media (min-width: 1280px) {
    h1,
    .hero-h2 {
        /* 'Fresh Harvest Box has got you covered', hero title */
        font-size: 64px;
        line-height: 100%;
    }

    .section-h2,
    .modals-h2 {
        /* section titles, form title, THANK YOU on modal */
        font-size: 40px;
        line-height: 110%;
    }

    h3 {
        /*  fruit names in ORGANIC FRUITS section */
        font-size: 32px;
        line-height: 119%;
    }

    h4 {
        /* basket names in form */
        font-weight: 700;
        font-size: 24px;
    }

    /* h5, p, .common-format (form placeholders, Submit/Send buttons, nav/footer links) stay the same as mobile */

    .address-format {
        /* address in footer */
        font-size: 14px;
        line-height: 129%;
    }

    .plant-card-format {
        /* "Plant" in ORGANIC FRUITS section */
        font-size: 18px;
        line-height: 133%;
    }

    /* .plant-form-format ("Plant" in form) stays the same as mobile */

    .price-format {
        /* ___ UAH / kg */
        font-size: 18px;
        line-height: 133%;
    }

    /* h6, .hero-format (plaques & hashtags in hero section) stay the same as mobile; font-weight 400/500 and uppercase to be applied separately in class */

    /* .logo-format stays the same as mobile */

    .round-btn {
        width: 114px;
        height: 114px;
    }

    .container {
        display: flex;
        max-width: 1280px;
        padding: 0 32px 150px;
        /* nav & hero must overwrite padding = put their modified classes below */
    }
}

/* ----------------- v YOUR ORDER MODAL v ----------------- */

/* 
                                                                  
                                 88           88  88              
                                 88           ""  88              
                                 88               88              
88,dPYba,,adPYba,    ,adPPYba,   88,dPPYba,   88  88   ,adPPYba,  
88P'   "88"    "8a  a8"     "8a  88P'    "8a  88  88  a8P_____88  
88      88      88  8b       d8  88       d8  88  88  8PP"""""""  
88      88      88  "8a,   ,a8"  88b,   ,a8"  88  88  "8b,   ,aa  
88      88      88   `"YbbdP"'   8Y"Ybbd8"'   88  88   `"Ybbd8"'
  
*/

.ord-modal-window {
    display: flex;
    position: absolute;
    flex-direction: column;
    gap: 40px;
    left: 0;
    right: 0;
    top: 0px;
    width: 335px;
    margin: 105px auto 0;
    min-height: 903px;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--wh);
    background-image: none;
    transform: translateY(-200%); /* deactivate to see modal */
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 4;
}

.ord-modal-window.is-open {
    /* JS */
}

.ord-modal-window .modals-h2 {
    color: var(--main-wine);
}

.ord-close-window-button {
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: var(--transparent);
    border: none;
    right: 20px;
    top: 22px;
    width: 24px;
    height: 24px;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ord-close-icon {
    fill: var(--main-wine);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 5;
}

.ord-close-window-button:hover .ord-close-icon,
.ord-close-window-button:focus .ord-close-icon {
    fill: var(--bl);
}

.ord-close-window-button:hover,
.ord-close-window-button:focus {
    cursor: pointer;
}

.ord-main {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.ord-basket-choice {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ord-basket-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.ord-text-aligner {
    display: flex;
    flex-direction: column;
}

.ord-basket-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 119px;
    padding: 14px 14px 8px 20px;
    border-radius: 20px;
}

.ord-basket-item .plant-form-format {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 2px;
}

.ord-basket-item:nth-child(1) {
    background-color: var(--card-basket-s);
}

.ord-basket-item:nth-child(2) {
    background-color: var(--card-basket-a);
}

.ord-basket-item:nth-child(3) {
    background-color: var(--card-basket-f);
}

.ord-check {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.ord-check-indicator {
    order: 2;
}

.ord-checkmark-icon {
    width: 6px;
    height: 6px;
}

.ord-check-indicator:checked + .ord-basket-label span:first-child {
    fill: var(--wh);
}

.checkbox {
}

.checkbox:active {
}

.ord-checkbox {
    min-width: 16px;
    height: 16px;
    border: 1.5px solid var(--wh);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    cursor: pointer;
    order: 2;
}

.ord-basket-label {
    display: flex;
    width: calc(295px - 14px - 20px);
    justify-content: space-between;
    order: 1;
}

.ord-basket-label h4 {
    margin-top: 6px;
    text-wrap: nowrap;
}

.ord-basket-img,
.ord-main img {
    display: flex;
    max-height: 95px;
    aspect-ratio: auto;
}

.ord-inputs {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.ord-field {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 100px;
    outline: transparent;
    width: 100%;
    background-color: transparent;
    padding: 14px 24px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ord-field::placeholder {
    color: var(--bl);
    opacity: 0.5;
}

.ord-field:focus {
    border-color: var(--bl);
}

.ord-field:invalid {
    border: 2px solid var(--main-wine);
}

.ord-field:not(.ord-textarea):valid {
    border: 2px solid var(--btn-other);
}

.ord-input-box {
    display: flex;
    position: relative;
}

.ord-input {
    height: 46px;
}

.ord-main .ord-comment {
    height: 132px;
}

.ord-comment .ord-textarea {
    height: 132px;
    resize: none;
    border-radius: 20px;
}

.ord-button {
    display: flex;
    margin-top: -20px;
}

.ord-submit-button {
    display: block;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 100px;
    width: 92px;
    height: 42px;
    padding: 12px 24px;
    cursor: pointer;
    background-color: var(--btn-other);
    color: var(--wh);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ord-submit-button:hover {
    background-color: var(--main-wine);
}

.modal-off {
    display: none;
}

/* ----------------- v TABLET RULES v ----------------- */

/*
                                                           
                     88           88                       
  ,d                 88           88                ,d     
  88                 88           88                88     
MM88MMM  ,adPPYYba,  88,dPPYba,   88   ,adPPYba,  MM88MMM  
  88     ""     `Y8  88P'    "8a  88  a8P_____88    88     
  88     ,adPPPPP88  88       d8  88  8PP"""""""    88     
  88,    88,    ,88  88b,   ,a8"  88  "8b,   ,aa    88,    
  "Y888  `"8bbdP"Y8  8Y"Ybbd8"'   88   `"Ybbd8"'    "Y888 
  
*/

@media (min-width: 768px) and (max-width: 1279px) and (max-resolution: 192dpi) {
    .ord-modal-window {
        width: 704px;
        min-height: 853px;
        padding: 40px;
        background-image: url(./img/modal-banana-lady-t1x.png);
        background-size: 290px 464px;
        background-repeat: no-repeat;
        background-position: 100% 100%;
    }

    .ord-close-window-button {
        top: 20px;
        width: 28px;
        height: 28px;
    }

    .ord-basket-choice {
        flex-direction: row;
    }

    .ord-basket-list {
        flex-direction: row;
        gap: 0 12px;
    }

    .ord-text-aligner {
        order: 2;
        margin-left: 6px;
    }

    .ord-basket-item {
        flex-direction: column;
        height: 250px;
        width: 200px;
        padding: 14px;
    }

    .ord-checkmark-icon {
        width: 8px;
        height: 8px;
    }

    .ord-checkbox {
        min-width: unset;
        width: 20px;
        align-self: flex-end;
        height: 20px;
    }

    .ord-basket-label {
        flex-direction: column;
        width: calc(200px - 14px - 14px);
        justify-content: flex-start;
    }

    .ord-basket-img,
    .ord-main img {
        max-height: 148px;
        width: auto;
        align-self: center;
        order: 3;
    }

    .ord-field {
        width: 360px;
        padding: 15px 24px;
    }

    .ord-input {
        height: 48px;
    }

    .ord-main .ord-comment {
        height: 145px;
    }

    .ord-comment .ord-textarea {
        height: 145px;
    }

    .ord-submit-button {
        width: 114px;
        height: 48px;
        padding: 15px 35px;
    }

    .modal-off {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1279px) and (min-resolution: 192dpi) {
    .ord-modal-window {
        background-image: url(./img/modal-banana-lady-t2x.png);
    }
}

/*
                                                                                
         88                         88                                          
         88                         88          ,d                              
         88                         88          88                              
 ,adPPYb,88   ,adPPYba,  ,adPPYba,  88   ,d8  MM88MMM  ,adPPYba,   8b,dPPYba,   
a8"    `Y88  a8P_____88  I8[    ""  88 ,a8"     88    a8"     "8a  88P'    "8a  
8b       88  8PP"""""""   `"Y8ba,   8888[       88    8b       d8  88       d8  
"8a,   ,d88  "8b,   ,aa  aa    ]8I  88`"Yba,    88,   "8a,   ,a8"  88b,   ,a8"  
 `"8bbdP"Y8   `"Ybbd8"'  `"YbbdP"'  88   `Y8a   "Y888  `"YbbdP"'   88`YbbdP"'   
                                                                   88           
                                                                   88   

*/

@media (min-width: 1280px) and (max-resolution: 192dpi) {
    .ord-modal-window {
        width: 891px;
        min-height: 911px;
        padding: 40px;
        background-image: url(./img/modal-banana-lady-d1x.png);
        background-size: 471px 458px;
        background-repeat: no-repeat;
        background-position: 100% 100.1%;
    }

    .ord-close-window-button {
        top: 20px;
        width: 28px;
        height: 28px;
    }

    .ord-basket-choice {
        flex-direction: row;
    }

    .ord-basket-list {
        flex-direction: row;
        gap: 0 20px;
    }

    .ord-text-aligner {
        order: 2;
        margin-left: 6px;
    }

    .ord-basket-item {
        flex-direction: column;
        height: 308px;
        width: 257px;
        padding: 14px;
    }

    .ord-basket-item .plant-form-format {
        margin-top: 8px;
    }

    .ord-checkmark-icon {
        width: 8px;
        height: 8px;
    }

    .ord-checkbox {
        min-width: 20px;
        min-height: 20px;
        height: unset;
        align-self: flex-end;
    }

    .ord-basket-label {
        flex-direction: column;
        width: calc(257px - 14px - 14px);
        justify-content: flex-start;
    }

    .ord-basket-label h4 {
        line-height: 117%;
    }

    .ord-basket-img,
    .ord-main img {
        max-height: 196px;
        width: auto;
        align-self: center;
        order: 3;
    }

    .ord-field {
        width: 360px;
        padding: 15px 24px;
    }

    .ord-input {
        height: 48px;
    }

    .ord-main .ord-comment {
        height: 145px;
    }

    .ord-comment .ord-textarea {
        height: 145px;
    }

    .ord-submit-button {
        width: 114px;
        height: 48px;
        padding: 15px 35px;
    }

    .modal-off {
        display: none;
    }
}

@media (min-width: 1280px) and (min-resolution: 192dpi) {
    .ord-modal-window {
        background-image: url(./img/modal-banana-lady-d2x.png);
    }
}
